/* @keyframes top-to-bottom {
    from {
        top: -100%
    }
    to {
        top: 0;
    }
}

@-webkit-keyframes top-to-bottom {
    from {
        top: -100%
    }
    to {
        top: 0;
    }
} */

@keyframes top-to-bottom {
    0% {
        transform: scale(1, 1) translateY(-100%);
    }
    70% {
        transform: scale(1.05, 0.95) translateY(15%);
    }
    90% {
        transform: scale(1, 1) translateY(0%);
    }
    100% {
        transform: scale(1, 1) translateY(0%);
    }
}

@-webkit-keyframes top-to-bottom {
    0% {
        transform: scale(1, 1) translateY(-100%);
    }
    70% {
        transform: scale(1.05, 0.95) translateY(15%);
    }
    90% {
        transform: scale(1, 1) translateY(0%);
    }
    100% {
        transform: scale(1, 1) translateY(0%);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes slidein {
    0%{
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slidein {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes changecolor {
    0% {
        background-size: 500% 100%
    }

    100% {
        background-size: 100% 100%
    }
}

@keyframes slideinleft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slideinleft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }

    10% { transform: translate(-1px, -2px) rotate(-1deg); }

    20% { transform: translate(-3px, 0px) rotate(1deg); }

    30% { transform: translate(3px, 2px) rotate(0deg); }

    40% { transform: translate(1px, -1px) rotate(1deg); }

    50% { transform: translate(-1px, 2px) rotate(-1deg); }

    60% { transform: translate(-3px, 1px) rotate(0deg); }

    70% { transform: translate(3px, 1px) rotate(-1deg); }

    80% { transform: translate(-1px, -1px) rotate(1deg); }

    90% { transform: translate(1px, 2px) rotate(0deg); }

    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@-webkit-keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }

    10% { transform: translate(-1px, -2px) rotate(-1deg); }

    20% { transform: translate(-3px, 0px) rotate(1deg); }

    30% { transform: translate(3px, 2px) rotate(0deg); }

    40% { transform: translate(1px, -1px) rotate(1deg); }

    50% { transform: translate(-1px, 2px) rotate(-1deg); }

    60% { transform: translate(-3px, 1px) rotate(0deg); }

    70% { transform: translate(3px, 1px) rotate(-1deg); }

    80% { transform: translate(-1px, -1px) rotate(1deg); }

    90% { transform: translate(1px, 2px) rotate(0deg); }

    100% { transform: translate(1px, -2px) rotate(-1deg); }
}