@font-face {
    font-family: "Machine Gunk";
    src: url("../Assets/Font/Machine Gunk.otf") format("opentype");
}

@font-face {
    font-family: "Montserrat";
    src: url("../Assets/Font/Montserrat-Regular.ttf") format("truetype");
}

p,
span {
    font-family: "Machine Gunk";
    text-align: center;
    font-size: 2vw;
    color: #FFFFFF;
    margin: 0;
    letter-spacing: 0.1vw
}

html {
    z-index: -1;
    background: black;
    height: 100vh;
    /* client's viewport height = 100%, adjustment not recommended */
    width: 100vw;
    /* client's viewport height = 100%, adjustment not recommended */
    margin: 0;
}

body {
    margin: 0;
    width: 100vw;
    height: calc(100vw/16*9);
    background-image: url("../Assets/Assets/bg-01.png");
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button {
    color: #FFF;
    font-family: 'Machine Gunk';
    font-size: 1.5vw;
}

button:hover {
    cursor: pointer;
    font-size: 1.7vw;
}

::-webkit-scrollbar {
    display: none;
}


/* Intro */

#index {
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    background: black;
}

#splashscreen {
    height: 100%;
    width: 100%;
    z-index: 5;
    position: absolute;
    background-color: black
}

#splashscreen>video {
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#tutorial {
    z-index: 3;
    position: absolute;
    background-color: black;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#proceed {
    z-index: 4;
    display: none;
    background-image: linear-gradient(#FEC22E, #FE7235);
    border-radius: 0.45em 0px 0px 0.45em;
    position: absolute;
    width: 15%;
    height: 7%;
    top: 5%;
    right: 0;
    opacity: 0.4;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    animation: slidein 0.5s;
}

#proceed:hover {
    opacity: 1;
}

#exit {
    z-index: 32;
    display: none;
    background-image: linear-gradient(#FEC22E, #FE7235);
    border-radius: 0px 0.45em 0.45em 0px;
    position: absolute;
    width: 15%;
    height: 7%;
    top: 5%;
    left: 0;
    opacity: 0.4;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    animation: slideinleft 0.5s;
}

#exit:hover {
    opacity: 1;
}

#loadingscreen {
    z-index: 6;
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #222272;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loadingscreen>p {
    font-size: 6vw;
}

#loadingbar {
    /*position: absolute;*/
    height: auto;
    width: 20%;
}


/* ///////////////////////////////////////// */


/* game screen */

.game-screen {
    z-index: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.game-section {
    width: 40%;
    height: 80%;
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 15% 85%;
}

.game-instruction {
    width: 40%;
    height: 80%;
    display: grid;
    grid-template-rows: 40% 40% 20%;
    background: linear-gradient( to bottom, rgba(126, 114, 149, 0.8), rgba(59, 0, 87, 0.8));
}


/* Game section */

#timer-container {
    margin: auto;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

#timer-container>p {
    font-size: 1.5vw;
}

#maze-finished-container {
    margin: auto;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

#maze-finished-container>p {
    font-size: 1.5vw;
}

#level,
#timer {
    font-size: 2.5vw;
    color: #FFBD5E;
}


/* Maze */

#maze-wrapper {
    background: url(../Assets/Assets/bg-02.png) no-repeat;
    background-size: 100% 100%;
    width: 84%;
    height: 84%;
    grid-column: span 2;
    padding: 8%;
}

#maze {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 100%;
}


/* 5x5 */

.small-maze .block {
    width: 20%;
}


/* 7x7 */

.medium-maze .block {
    width: 14.28%;
}


/* 9x9 */

.large-maze .block {
    width: 11.1111%;
}


/* 11x11 */

.very-large-maze .block {
    width: 9.0909%;
}

.wall {
    background-image: url("../Assets/Assets/img-02.png");
    background-size: cover;
}

.me {
    position: relative;
}

.me:after {
    background-image: url("../Assets/Assets/img-01.png");
    background-size: cover;
    border-radius: 100%;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.finish {
    background-image: url("../Assets/Assets/img-03.png");
    background-size: cover;
}


/* Game instruction */

#instruction-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 34% 33% 33%;
}

#instruction-text {
    grid-column: span 2;
    margin: auto;
}

#instruction-text>p {
    font-style: italic;
    font-size: 1vw;
    font-family: Montserrat;
}

#left-text,
#right-text,
#up-text,
#down-text {
    margin: auto;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

#left-text>img,
#right-text>img,
#up-text>img,
#down-text>img {
    width: 20%;
    height: auto;
}

#left-text>p,
#right-text>p,
#up-text>p,
#down-text>p {
    margin-left: 10%;
}

#output-container {
    margin: 5%;
    background: rgba(0, 0, 0, 0.5);
}

#mic-container {
    z-index: 1;
    margin: auto;
    /*
    background-image: linear-gradient( 
        to right, 
        rgba(0, 0, 0, 0.5), 
        rgba(255, 4, 4, 0.8), 
        rgba(0, 31, 255, 0.8), 
        rgba(0, 31, 255, 0.7) 
    );
    background-size: 1000% 100%;
    border-radius: 0.5vw;
    */
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
}

#mic-text {
    font-style: italic;
    font-size: 1vw;
    font-family: Montserrat;
    margin: auto;
}

#btn-mic {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background: url("../Assets/Assets/img-04.png");
    background-size: 100% 100%;
    border-radius: 0.5vw;
    background-repeat: no-repeat;
}

#btn-mic:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

#btn-mic>img {
    object-fit: contain;
    width: 80%;
    height: 80%;
}

#mic-toggle {
    z-index: 2;
    display: none;
    filter: grayscale(70%);
    object-fit: contain;
    position: absolute;
    width: 5%;
}

#speech-bubble {
    z-index: 2;
    position: absolute;
    transform: translate(33%, -80%);
    width: 30%;
    height: auto;
}


/*

#speech-container {

}

#speech-bubble {
    display: none;
    z-index: 2;
    position: relative;
    max-width: 30em;
    background-color: #fff;
    padding: 1vw 1vw;
    font-size: 1vw;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgb(0 0 0 / 30%), 0 0.0625rem 0.125rem rgb(0 0 0 / 20%);
    color: black;
    transform: translate(40.2%, -100%);
}

#speech-bubble::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    left: 1.5em;
    border: .75rem solid transparent;
    border-bottom: none;
    border-top-color: #fff;
}

*/


/* ///////////////////////////////////////// */


/* Game Over */

#gameovercontainer {
    width: 100%;
    height: 100%;
    position: absolute;
}

.container-fullScreen {
    display: none;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
}

.divGameCompleted {
    -webkit-animation: top-to-bottom 1s;
    animation: top-to-bottom 1s;
}

.img-scoreboard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#gameover {
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
    background-color: black;
}

#gameover>img {
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#gameovercontent {
    position: absolute;
    width: 40vw;
    height: 20vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 50% 30%;
    grid-column-gap: 1vw;
}

#score-txt {
    grid-column: span 2;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #222272;
}

#score {
    grid-column: span 2;
    font-size: 8vw;
    text-align: center;
    color: #222272;
    margin: auto;
}


/*
#highscore-txt {
    margin: 0;
    font-size: 1vw;
    color: #90728D;
    text-align: right;
}

#highscore {
    font-size: 2vw;
    text-align: left;
    color: #222272;
}*/

#gameovercontent button {
    margin: auto;
    border-radius: 0.45em;
    width: 80%;
    height: 60%;
}

#gameovercontent #share {
    margin-right: 0;
    background-image: linear-gradient(to bottom, #224f9C, #222272);
    /*
    shadow: #000000 0.1vw;
    border: #FFFFFF 0.1vw, #000000 0.1vw;
    */
}

#gameovercontent #continue {
    margin-left: 0;
    background-image: linear-gradient(to bottom, #FEC22E, #FE7235);
}


/* ////////////////////////////////////////// */

.output {
    font-size: 2vw;
    font-family: Montserrat;
}

.output>span {
    font-family: Montserrat;
}

.highlight-yellow {
    font-size: 2vw;
    color: yellow;
    font-family: Montserrat;
}

.highlight-green {
    font-size: 2vw;
    color: lime;
    font-family: Montserrat;
}

.highlight-red {
    font-size: 2vw;
    color: red;
    font-family: Montserrat;
}

.highlight-gray {
    font-size: 1.5vw;
    color: gray;
    font-style: italic;
    font-family: Montserrat;
}