/*home.html css*/

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*landscape*/

body {
    width: 100%;
    height: 100%;
    font-family: "Montserrat-Regular";
    color: #fff;
    font-size: 100%;
    margin: 0;
    background: url("images/bg-registration-form-7.jpg") no-repeat;
    background-size: cover;
}


/*references image size*/

#images {
    width: 100%;
}

.video-wrapper {
    position: relative;
    width: 100%;
}

.score-and-video {
    display: flex;
    flex-direction: column;
    width: 100%;
}


/*leader board button hidden*/

.round {
    visibility: hidden;
}

ul {
    list-style-type: none;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.images {
    display: flex;
    flex-direction: column-reverse;
    width: 50%;
    margin-left: 5%;
}


/*game instruction properties*/

#instruc {
    border: 2px solid black;
    font-size: 100%;
    float: right;
    border: 2px solid black;
    width: 20%;
    margin-right: 2%;
    padding-left: 1%;
    padding-right: 1%;
}

a:hover {
    border: 2px solid black;
    text-decoration: none;
}

:focus {
    border: 2px solid black;
    outline: none;
}


/*game instruction title*/

h3 {
    color: red;
    font-size: 180%;
    text-decoration: underline;
}


/*game instruction content*/

p {
    font-size: 130%;
    color: black;
    font-weight: bold;
}


/*button design*/

button {
    float: left;
    border: none;
    width: 10%;
    height: 51px;
    border: 2px solid #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: none;
    color: #fff;
    text-transform: uppercase;
    font-family: "Montserrat-SemiBold";
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}


/*play button animation*/

.blk {
    animation: blinker 2s linear infinite;
}

button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

button:hover {
    animation: none;
    border-color: transparent;
    background-color: red;
}

button:hover:before {
    background-color: red;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

button:hover i {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}


/*do this pose text*/

h4 {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

#webcam {
    margin: 0% auto;
    width: 100%;
    height: 100%;
}

#canvas {
    position: absolute;
    width: 100%;
    left: 0;
}

#canvasRef {
    position: absolute;
    width: 100%;
    left: 0;
}


/*fps position*/

#content {
    text-align: center;
    position: absolute;
    left: 45%;
    top: 60%;
}


/*timer position*/

.score-and-sec {
    display: flex;
    width: 100%;
    justify-content: center;
}

#sec {
    align-self: center;
    font-size: 300%;
    font-weight: bold;
    color: gold;
    display: none;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.score {
    font-size: 300%;
    align-self: flex-start;
    margin: 0;
    margin-right: auto;
}

.hide {
    opacity: 0;
    margin-left: auto;
    margin-right: 0;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


/*portrait*/

@media screen and (orientation: portrait) {
    body {
        width: 100%;
        height: 100%;
        font-family: "Montserrat-Regular";
        color: #fff;
        font-size: 50%;
        margin: 0%;
        background: url("images/bg-registration-form-7.jpg") no-repeat;
        background-size: cover;
    }
    /*references image size*/
    #images {
        border: 2px solid black;
        width: 40%;
        height: 50%;
    }
    .wrapper {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .images {
        flex-direction: column;
        width: 100%;
        margin-left: 0%;
    }
    /*inner frame*/
    a:hover {
        text-decoration: none;
    }
     :focus {
        outline: none;
    }
    /*button design*/
    button {
        float: right;
        border: none;
        width: 70%;
        height: 51px;
        border: 2px solid #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background: none;
        color: #fff;
        text-transform: uppercase;
        font-family: "Montserrat-SemiBold";
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }
    button:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #2098d1;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    button:hover {
        animation: none;
        border-color: transparent;
        background-color: red;
    }
    button:hover:before {
        background-color: red;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    button:hover i {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    /*do this pose text*/
    h4 {
        font-size: 1.5rem;
        text-align: center;
        font-weight: bold;
    }
    #webcam {
        display: flex;
        width: 100%;
    }
    #canvas {
        width: 100%;
        top: 0;
    }
    /*fps position*/
    #content {
        text-align: center;
        position: absolute;
        left: 45%;
        top: 60%;
    }
    /*timer*/
    .score-and-sec {
        display: flex;
        width: 100%;
    }
    #sec {
        align-self: center;
        font-size: 600%;
        font-weight: bold;
        color: gold;
        margin: 0;
    }
    .score {
        align-self: flex-start;
        display: none;
        font-size: 600%;
    }
    /*game instruction */
    #instruc {
        border: 3px solid black;
        margin-left: 1%;
        margin-top: 1%;
        width: 100%;
        font-size: 250%;
        border: 3px solid black;
    }
    /*game instruction title*/
    h3 {
        color: red;
        font-size: 200%;
        text-decoration: underline;
        width: 60%;
    }
    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
}