@font-face {
    font-family: "Machine Gunk";
    src: url("Assets/Font/Machine Gunk.otf") format("opentype");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("Assets/Font/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("Assets/Font/Montserrat-SemiBold.ttf") format('truetype');
}
:root {
    --target-width: 100vw;
}
::-webkit-scrollbar {
    display: none;
}

body {
    height: 100vh; /* viewport height = 100%, adjustment not recommended */
    width: 100vw; /* viewport width = 100%, adjustment not recommended */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-size: cover;
}

main {
    position: relative;
    height: 100vmin; /* minimum viewport 100%, can be adjusted */
    width: 100vmin;
}

p, span {
    font-family: 'Machine Gunk';
    color: #56362C;
    font-size: 3vw;
    text-align: center;
}

/* Buttons */

button {
    color: #FFF;
    font-family: 'Machine Gunk';
    font-size: 1.5vw;
}

    button:hover {
        cursor: pointer;
        font-size: 1.7vw;
    }

/* ///////////// from index.html /////////////// */

#index {
    z-index: 30;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    background: black;
}

#pregamecontainer {
    margin: 0;
    width: 100vw;
    height: calc(100vw/16*9);
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#splashscreen {
    height: 100%;
    width: 100%;
    z-index: 35;
    position: absolute;
    background-color: black
}

    #splashscreen > video {
        position: absolute;
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

#tutorial {
    z-index: 31;
    position: absolute;
    background-color: black;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#proceed {
    z-index: 32;
    display: none;
    background-image: linear-gradient(#FEC22E, #FE7235);
    border-radius: 0.45em 0px 0px 0.45em;
    position: absolute;
    width: 15%;
    height: 7%;
    top: 5%;
    right: 0;
    opacity: 0.4;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    animation: slidein 0.7s;
}

    #proceed:hover {
        opacity: 1;
    }

#exit {
    z-index: 32;
    display: none;
    background-image: linear-gradient(#FEC22E, #FE7235);
    border-radius: 0px 0.45em 0.45em 0px;
    position: absolute;
    width: 15%;
    height: 7%;
    top: 5%;
    left: 0;
    opacity: 0.4;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    animation: slideinleft 0.7s;
}

    #exit:hover {
        opacity: 1;
    }

/* ///////////// Loading Screen //////////////// */

#loadingscreen {
    z-index: 20;
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black
}

#loadingscreen > img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#loadingbar {
    z-index: 21;
    display: none;
    position: absolute;
    height: auto;
    width: 40%;
    margin-left: 30%;
    margin-top: 30%;
    filter: hue-rotate( 300deg );
}
/*
#progress {
    width: 1%;
    height: 100%;
    background-color: #04AA6D;
    text-align: center;
    font-family: 'Machine Gunk';
    color: white;
    font-size: 2vw
}
*/
/* ///////////////// SCoreboard //////////////// */

.container-fullScreen {
    display: none;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
}

.divGameCompleted {
    -webkit-animation: top-to-bottom 1s;
    animation: top-to-bottom 1s;
    background-color: black;
}

.divScoreboard {
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
    background-color: black;
}

.img-scoreboard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#gameover {
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
    background-color: black;
}

    #gameover > img {
        position: absolute;
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

#gameovercontent {
    position: absolute;
    width: 40vw;
    height: 20vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 50% 30%;
    grid-column-gap: 1vw;
}

#score-txt {
    grid-column: span 2;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #4F382E;
}

#score {
    grid-column: span 2;
    font-size: 8vw;
    text-align: center;
    color: #4F382E;
    margin:auto;
}

/*
#highscore-txt {
    margin: 0;
    font-size: 1vw;
    color: #B2927E;
    text-align: right;
}

#highscore {
    font-size: 2vw;
    text-align: left;
}
*/

#gameovercontent button {
    margin: auto;
    border-radius: 0.45em;
    width: 80%;
    height: 60%;
}

#gameovercontent #share {
    margin-right: 0;
    background-image: linear-gradient(to bottom, #7E5B4A, #4F382E);
    /*
    shadow: #000000 0.1vw;
    border: #FFFFFF 0.1vw, #000000 0.1vw;
    */
}

#gameovercontent #continue {
    margin-left: 0;
    background-image: linear-gradient(to bottom, #FEC22E, #FE7235);
}


/* //////////////////////////////////////////// */

/* ///////////////// Brocolli ///////////////// */

#brocollicontainer{
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

.brocolli, .brocolli-1{
    position: absolute;
    height: auto;
    width: 15%;
}

#brocolli1{
    top: 10%;
    left: 0;
}

#brocolli2 {
    right: 5%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#brocolli3{
    display: none;
    top: 35%;
    left: 10%
}

#brocolli4{
    display: none;
    top: 1%;
    left: 25%;
}

#brocolli5{
    bottom: 1%;
    right: 1%;
}

#brocolli6{
    bottom: 5%;
    left: 1%;
}

#brocolli7 {
    display: none;
    top: 30%;
    right: 10%;
}

/* //////////////// Containers //////////////// */

#gui-container { /* a 3x2 grid container */
    z-index: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 20% 80%;
}

.container-item1, .container-item2, .container-item3 { /* timer container */
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.container-item4 { /* play region container */
    z-index: 1;
    position: relative;
    grid-column: span 3;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

/* //////////////////////////////////////////// */

#timergui, #basketgui, #vcanvasgui {
    z-index: 2;
    position: absolute;
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}

#doganimate {
    z-index: 10;
    position: absolute;
    height: 92%;
    width: 84%;
    margin-bottom: 8%;
    margin-left: 8%;
    margin-right:8%;
}

#fencegui {
    z-index: 2;
    position: absolute;
    object-fit: scale-down;
    width: 100%;
    height: auto;
}

/* /////////////// Container 1 //////////////// */

#timer {
    z-index: 3;
    position: absolute;
    margin-top: 30%;
}

/* /////////////// Container 2 //////////////// */

#emptydogcontainer {
    z-index: 3;
    position: absolute;
    width: 70%;
    height: 85%;
    margin: auto;
}

#emptydogcontainer > img {
    filter: opacity(30%);
}

#basketdoggycontainer {
    z-index: 4;
    position: absolute;
    width: 70%;
    height: 85%;
    margin: auto;
}

.basketdoggy {
    z-index: 4;
}

/* //////// Container 3  & Container 4 //////// */

#vcanvascontainer {
    z-index: 4;
    margin: auto;
    width: 65%;
    height: 75%;
}

#canvascontainer {
    position: relative;
    z-index: 4;
    margin: auto;
    width: 85%;
    height: 75%;
}

#canvas, #vcanvas{
    z-index: 8;
    position: absolute;
}

#guicanvas {
    z-index: 6;
    position: absolute;
}

/* #vcanvas {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
} */
   
/* /////// Container 4 > Info/Ads board //////// */

#infocontainer {
    z-index: 3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}

#infoboard {
    z-index: 4;
    position: absolute;
    object-fit: contain;
    width: 80%;
    height: auto;
}

#adscontainer {
    z-index: 5;
    position: absolute;
    width: 50%;
    height: 70%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ads {
    margin: auto;
    height: 90%;
    width: auto;
    object-fit: contain;
    animation: adsfading 5s infinite;
}


/* //////// Container 4 > Play canvas ///////// */

#targetimgcontainer, #trapimgcontainer, #hintimgcontainer{
    z-index: 6;
    position: absolute;
    display: none;
}

#targetimg, #trapimg, #hintimg, #openinghint {
    display: none;
    position: absolute;
    object-fit: scale-down;
    max-width: 100%;
    max-height: 100%;
}

#handimgcontainer{
    visibility: hidden;
    position: absolute
}

#handimg {
    object-fit: scale-down;
    max-width: 100%;
    max-height: 100%;
}

#canvasbg {
    z-index: 3;
    position: relative;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/* //////////////////////////////////////////// */

#messagecontainer {
    z-index: 9;
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#openedhint {
    z-index: 10;
    display: none;
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#hintad {
    z-index: 11;
    display: none;
    position: absolute;
    object-fit: contain;
    width: 40%;
    height: 40%;
}

#freezemessagecontainer {
    z-index: 9;
    display: none;
    flex-direction: column;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 80%;
}

#freezemessage {
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 0;
}

#freezetimer {
    margin: auto;
    margin-top: 0;
    font-size: 5vw;
    color: lightsteelblue;
    -webkit-text-stroke: 0.5vw steelblue;
}

#hintmessage {
    z-index: 11;
    font-size: calc(1em + 1vw);
    display: none;
    margin-top: 45%;
    position: absolute;
    /*
    box-shadow: 10px 10px 5px grey;
    border-radius: 50%;
    background-color: transparent;
    */
}

/* //////////////////////////////////////////// */

#blackscreen {
    z-index: 8;
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

    #blackscreen > p {
        font-size: 5vw;
        color: white;
    }

#hardware-container {
    display: none;
    z-index: 40;
    position: absolute;
    width: 70%;
    height: 80%;
    background-color: white;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80% 20%;
}

#camera-instruction {
    width: 70%;
    height: 80%;
    margin: auto;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

#num-person-instruction {
    width: 70%;
    height: 80%;
    margin: auto;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #BABABA;
    padding-left: 15%;
    margin-left: 0;
}

#btn-container {
    grid-column: span 2;
}

#btnSkipInstruction {
    background-color: #287194;
    color: white;
    font-family: 'Montserrat-Regular';
    font-weight: bold;
    position: absolute;
    width: 20%;
    height: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.5vw;
}

.camera-range, .num-person {
    width: 50%
}

#camera-instruction > p, #num-person-instruction p {
    text-align: center;
    font-family: 'Montserrat-Regular';
    color: #3C3C3C;
    font-size: calc(var(--target-width)*0.01*1.3);
}

/*
@media screen and (min-width: 2500px) {
    p {
        font-size: calc(5em + 1vw);
    }
    #freezemessage {
        font-size: calc(15em + 1vw);
    }
}

@media screen and (max-width: 1920px) {
    #freezemessage {
        font-size: calc(7em + 1vw);
    }
}

@media screen and (max-width: 800px) {
    #freezemessage {
        font-size: calc(5em + 1vw);
    }
    p {
        font-size: calc(1em + 1vw);
    }
}

@media screen and (max-width: 400px) {
    #freezemessage {
        font-size: calc(3em + 1vw);
    }
}


@media screen and (max-height: 1900px) {
    #freezemessage {
        font-size: calc(7em + 1vw);
    }
}

@media screen and (max-height: 800px) {
    #freezemessage {
        font-size: calc(5em + 1vw);
    }

    p {
        font-size: calc(1em + 1vw);
    }
}

@media screen and (max-height: 400px) {
    #freezemessage {
        font-size: calc(3em + 1vw);
    }
}
    */