@font-face {
    font-family: "Machine Gunk";
    src: url("Assets/Font/Machine Gunk.otf") format("opentype");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("Assets/Font/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("Assets/Font/Montserrat-SemiBold.ttf") format('truetype');
}

p,
span,
h3 {
    font-family: 'Machine Gunk';
    color: #222272;
    font-size: 2vw;
    text-align: center;
    margin: 0;
    /* -webkit-text-stroke: 0.05vw #FFFFFF; */
}

button {
    color: #FFF;
    font-family: 'Machine Gunk';
    font-size: 1.5vw;
}

button:hover {
    cursor: pointer;
    font-size: 1.7vw;
}

html {
    z-index: -1;
    background: black;
    height: 100vh;
    /* client's viewport height = 100%, adjustment not recommended */
    width: 100vw;
    /* client's viewport height = 100%, adjustment not recommended */
    margin: 0;
}

body {
    margin: 0;
    width: 100vw;
    height: calc(100vw/16*9);
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    display: none;
}


/* ///////////// splash screen and tutorial /////////////// */

#index {
    z-index: 19;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    background: black;
}

#pregamecontainer {
    margin: 0;
    width: 100vw;
    height: calc(100vw/16*9);
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#splashscreen {
    height: 100%;
    width: 100%;
    z-index: 35;
    position: absolute;
    background-color: black
}

#splashscreen>video {
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#tutorial {
    z-index: 31;
    position: absolute;
    background-color: black;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#proceed {
    z-index: 32;
    display: none;
    background-image: linear-gradient(#FEC22E, #FE7235);
    border-radius: 0.45em 0px 0px 0.45em;
    position: absolute;
    width: 15%;
    height: 7%;
    top: 5%;
    right: 0;
    opacity: 0.4;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    animation: slidein 0.5s;
}

#proceed:hover {
    opacity: 1;
}

#exit {
    z-index: 32;
    display: none;
    background-image: linear-gradient(#FEC22E, #FE7235);
    border-radius: 0px 0.45em 0.45em 0px;
    position: absolute;
    width: 15%;
    height: 7%;
    top: 5%;
    left: 0;
    opacity: 0.4;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    animation: slideinleft 0.5s;
}

#exit:hover {
    opacity: 1;
}


/* Loading screen*/

#loadingscreen {
    z-index: 20;
    display: none;
    margin: 0;
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#loadingimg {
    object-fit: contain;
    width: 100%;
    height: 100%;
    position: absolute;
}

#loadingbar {
    z-index: 21;
    position: absolute;
    width: 15%;
    height: auto;
    margin-top: 40%;
    margin-left: 46%;
}


/* //////////////////////////////////////////////// */


/* Game Over */

.container-fullScreen {
    display: none;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
}

.divGameCompleted {
    -webkit-animation: top-to-bottom 1s;
    animation: top-to-bottom 1s;
}

.img-scoreboard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#gameover {
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
    background-color: black;
}

#gameover>img {
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#gameovercontent {
    position: absolute;
    width: 40vw;
    height: 20vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 50% 30%;
    grid-column-gap: 1vw;
}

#score-txt {
    grid-column: span 2;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #222272;
}

#score {
    grid-column: span 2;
    font-size: 8vw;
    text-align: center;
    color: #222272;
    margin: auto;
}


/*
#highscore-txt {
    margin: 0;
    font-size: 1vw;
    color: #90728D;
    text-align: right;
}

#highscore {
    font-size: 2vw;
    text-align: left;
    color: #222272;
}
*/

#gameovercontent button {
    margin: auto;
    border-radius: 0.45em;
    width: 80%;
    height: 60%;
}

#gameovercontent #share {
    margin-right: 0;
    background-image: linear-gradient(to bottom, #224f9C, #222272);
    /*
    shadow: #000000 0.1vw;
    border: #FFFFFF 0.1vw, #000000 0.1vw;
    */
}

#gameovercontent #continue {
    margin-left: 0;
    background-image: linear-gradient(to bottom, #FEC22E, #FE7235);
}


/* //////////////////////////////////////////////// */


/* Gameplay UIs */

main {
    /* z-index: 0; */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

#canvas {
    position: absolute;
}

#gamecontainer {
    height: 100%;
    width: 100%;
}

#points {
    top: 5%;
    left: 5%;
    position: absolute;
    font-size: 4vw;
    letter-spacing: 0.1vw;
    color: #FFFFFF;
    display: none;
}

#speed {
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    font-size: 40pt;
    letter-spacing: -0.2px;
    word-spacing: 0px;
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    display: none;
}

#status {
    top: 60px;
    left: 100px;
    position: absolute;
    font-size: 30pt;
    letter-spacing: -0.2px;
    word-spacing: 0px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    display: none;
    text-align: center;
    text-shadow: 2px 2px black;
}

#timer-con {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-image: url(Assets/Assets/img-01.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer {
    position: relative;
    text-align: center;
    font-size: 3vw;
    color: #4C2986;
    margin: 10%;
}

#videocontainer {
    z-index: 1;
    right: 5%;
    top: 0;
    background-image: url(Assets/Assets/img-02.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 18%;
    height: 25%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videocanvas {
    z-index: 1;
    width: 80%;
    height: auto;
    margin: 10%;
}

#video {
    /*transform: scaleX(-1);*/
    display: none;
}

#sparkling {
    position: absolute;
    display: none;
    width: 8%;
    height: auto;
    filter: contrast(200%) hue-rotate( 45deg)
}

#boom {
    position: absolute;
    display: none;
    width: 8%;
    height: auto;
}

.layer1 {
    z-index: 1;
}


/* Hardware instruction */

#blackscreen {
    z-index: 8;
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#blackscreen>p {
    font-size: 5vw;
    color: white;
}

#hardware-container {
    display: none;
    z-index: 40;
    position: absolute;
    width: 70%;
    height: 80%;
    background-color: white;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80% 20%;
}

#camera-instruction {
    width: 70%;
    height: 80%;
    margin: auto;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

#num-person-instruction {
    width: 70%;
    height: 80%;
    margin: auto;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #BABABA;
    padding-left: 15%;
    margin-left: 0;
}

#btn-container {
    grid-column: span 2;
}

#btnSkipInstruction {
    background-color: #287194;
    color: white;
    font-family: 'Montserrat-Regular';
    font-weight: bold;
    position: absolute;
    width: 20%;
    height: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.5vw;
}

.camera-range,
.num-person {
    width: 50%
}

#camera-instruction>p,
#num-person-instruction p {
    text-align: center;
    font-family: 'Montserrat-Regular';
    color: #3C3C3C;
    font-size: calc(var(--target-width)*0.01*1.3);
}