    /* * {box-sizing: border-box;} */

.slideshow-img {
  top:67%;
  left:41%;
  width: 35%;
  height: 12%;
  position: fixed;
  z-index : 2;
  object-fit: contain;
}

/* Slideshow container */
.slideshow-container {
  width: inherit;
  height: inherit;
  margin: auto;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
/* @media only screen and (max-width: 300px) {
  .text {font-size: 11px}
} */