:root {
    --target-width: 100vw;
}


/* 
@font-face {
    font-family: "Arcade";
    src: url("./font/ARCADE.TTF") format('truetype');
} */

@font-face {
    font-family: "MachineGunk";
    src: url("./font/MachineGunk-nyqg.ttf") format('truetype');
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("./font/Montserrat-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("./font/Montserrat-SemiBold.ttf") format('truetype');
}

html {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: -1;
}

body {
    margin: 0;
    width: 100vw;
    height: calc(100vw/16*9);
    background-image: url("../assets/image/bg-01.png");
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/*p {
    line-height: 90%;
}

/*span {
    font-family: 'MachineGunk';
}*/

.container-fullScreen {
    height: 100%;
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    color: black;
}

.container-middlescreen {
    height: 50%;
    width: 55%;
    right: 23%;
    top: 15%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    color: black;
}


/*#bgimg {
    height: 100%;
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    color: black;
}*/

button {
    box-shadow: #000000 15%;
    /* border-color: #FFFFFF 100% #000000 50%; */
    /*border-width: calc(var(--target-width)*0.01*0.2);*/
    color: #FFFFFF;
    /*border-radius: calc(var(--target-width)*0.01*0.8);*/
    width: 12%;
    height: 6%;
    font-size: calc(var(--target-width)*0.01*1.6);
    font-family: 'MachineGunk';
}

a:link,
a:hover,
a {
    color: #FFFFFF;
    text-decoration: none;
}

button:hover {
    /*border-width: calc(var(--target-width)*0.01*0.2);*/
    font-size: calc(var(--target-width)*0.01*2.0);
}


/**********************
    Loading Animation
***********************/

.loading-background {
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: white;
}

.loading-foreground {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
    z-index: 10;
}


/**********************
    Score / Time 
***********************/

.pose {
    position: relative;
    left: 22%;
    margin-top: -5%;
    font-size: calc(var(--target-width)*0.01*2.3);
    color: #FFFFFF;
    line-height: 120%;
    font-family: 'MachineGunk';
}

.sec {
    position: relative;
    left: 22%;
    margin-top: -5%;
    font-size: calc(var(--target-width)*0.01*2.3);
    color: #FFFFFF;
    line-height: 120%;
    font-family: 'MachineGunk';
}

.score {
    position: relative;
    left: 22%;
    margin-top: -5%;
    font-size: calc(var(--target-width)*0.01*2.3);
    color: #FFFFFF;
    line-height: 120%;
    font-family: 'MachineGunk';
}

#posecount {
    /*vertical-align: top;*/
    font-size: calc(var(--target-width)*0.01*4.0);
}

#score {
    /*vertical-align: top;*/
    font-size: calc(var(--target-width)*0.01*4.0);
}

#sec_count {
    /*vertical-align: top;*/
    font-size: calc(var(--target-width)*0.01*4.0);
}