@font-face {
    font-family: "Montserrat-Regular";
    src: url("./font/Montserrat-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("./font/Montserrat-SemiBold.ttf") format('truetype');
}


/**********************
    Game UI
***********************/

.divGame-Info {
    width: 30%;
    height: 100%;
    float: left;
    position: relative;
    z-index: 3;
    /*background-color: red;*/
    top: 0;
}

.divGame-CameraView {
    width: 65%;
    height: 100%;
    left: -1%;
    float: right;
    position: relative;
    z-index: 3;
    top: 0%;
}

.webcam {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    object-fit: contain;
    /*background-color: transparent;*/
}

.refPose {
    height: 40%;
    width: 100%;
    margin-bottom: 18%;
    top: 3%;
    left: 8%;
    position: relative;
    object-fit: contain;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.middleimg {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.innerblock1 {
    top: 15%;
    left: 22.4%;
    width: 18%;
    height: 23%;
    position: fixed;
    z-index: 2;
    object-fit: contain;
}

.innerblock2 {
    top: 15%;
    left: 41%;
    width: 35%;
    height: 50%;
    position: fixed;
    z-index: 2;
}

.innerblock3 {
    top: 63%;
    left: 39%;
    width: 39%;
    height: 20%;
    position: fixed;
    z-index: 2;
}

.ads {
    top: 65.5%;
    left: 41%;
    width: 35%;
    height: 15%;
    position: fixed;
    z-index: 2;
    object-fit: contain;
}

.cvOverlay {
    position: absolute;
    left: 5%;
    top: 7.1%;
    width: 90%;
    height: 86%;
}

.divGame-Banner {
    position: absolute;
    bottom: 0;
    width: 70%;
    height: 18%;
    margin-left: 30%;
    margin-right: 10%;
    z-index: 3;
    /*background-color: green;*/
}

#cameraslow_warning {
    display: none;
    position: fixed;
    top: 1%;
    left: 1%;
    color: red;
    font-size: calc(var(--target-width)*0.01*2.6);
    z-index: 4;
}

#game_instruction {
    position: fixed;
    width: 55%;
    height: 67%;
    left: 22.1%;
    font-family: 'Montserrat-Regular';
    font-weight: 800;
    color: black;
    display: none;
    z-index: 6;
}

#camera_instruction {
    width: 50%;
    height: 80%;
    position: relative;
    display: inline-block;
}

#num_person_instruction {
    border-left: 1px solid #BABABA;
    width: 48%;
    height: 80%;
    position: relative;
    display: inline-block;
}

#btnSkipInstruction {
    background-image: linear-gradient(#FEC22E, #FE7235);
    border-radius: 0.45em 0.45em 0.45em 0.45em;
    bottom: 20%;
    left: 40%;
    position: fixed;
    width: 20%;
    height: 6%;
    color: white;
    font-family: 'Montserrat-Regular';
    font-weight: bold;
}

.camera_range {
    width: auto;
    height: 70%;
    left: 20%;
    position: relative;
}

.num_person {
    width: auto;
    height: 70%;
    right: -20%;
    position: relative;
}

#camera_instruction p {
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
    font-size: calc(var(--target-width)*0.01*1.3);
}

#num_person_instruction p {
    text-align: center;
    position: relative;
    padding-right: 5%;
    padding-left: 5%;
    font-size: calc(var(--target-width)*0.01*1.3);
}