/**********************
    Scoreboard
***********************/

@font-face {
    font-family: "MachineGunk";
    src: url("./font/MachineGunk-nyqg.ttf") format('truetype');
}

.divGameCompleted {
    -webkit-animation: top-to-bottom 1s;
    animation: top-to-bottom 1s;
    /*background-color : rgba(0, 0, 0, 0.8);*/
    z-index: 11;
}

.divScoreboard {
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
    font-family: 'MachineGunk';
    z-index: 11;
}

.img-scoreboard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: black;
}

.scoreboard-btn {
    z-index: 1;
    position: fixed;
    top: 60%;
}

.scoreboard-btnShare {
    background-image: linear-gradient(#224f9c, #222272);
    box-shadow: rgba(0, 0, 0, 0.15);
    border-color: rgba(255, 255, 255, 0.5) rgba(0, 0, 0, 0.5);
    border-radius: 0.45em 0.45em 0.45em 0.45em;
    color: #FFFFFF;
    right: 51%;
    cursor: pointer;
}

.scoreboard-btnContinue {
    background-image: linear-gradient(#FEC22E, #FE7235);
    box-shadow: rgba(0, 0, 0, 0.15);
    border-color: rgba(255, 255, 255, 0.5) rgba(0, 0, 0, 0.5);
    border-radius: 0.45em 0.45em 0.45em 0.45em;
    color: #FFFFFF;
    left: 51%;
    cursor: pointer;
}

.scoreboard-txt-score {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(var(--target-width)*0.01*4);
    color: #222272;
}

.scoreboard-score {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(var(--target-width)*0.01*8);
    color: #222272;
}

.scoreboard-txt-highscore {
    position: absolute;
    top: 55%;
    right: 51.5%;
    transform: translate(0, -50%);
    font-size: calc(var(--target-width)*0.01*1);
    color: #3190CC;
}

.scoreboard-highscore {
    position: absolute;
    top: 55%;
    left: 51.5%;
    transform: translate(0, -50%);
    font-size: calc(var(--target-width)*0.01*4);
    color: #222272;
}


/* 
<span class="scoreboard-txt-score" style="z-index: 1;">SCORE</span>
<span class="scoreboard-score" style="z-index: 1;">2179</span>
<span class="scoreboard-txt-highscore" style="z-index: 1;">HIGH SCORE (ALL TIME)</span>
<span sclass="scoreboard-highscore" tyle="z-index: 1;">3267</span> */