/**********************
    Intro & Tutorial
***********************/

.video {
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: black;
    object-fit: contain;
}

.tutorial-skipButton {
    background-image: linear-gradient(#FEC22E, #FE7235);
    border-radius: 0.45em 0px 0px 0.45em;
    width: 15%;
    height: 7%;
    z-index: 2;
    position: absolute;
    top: 5%;
    right: 0;
    /*transform: translate(0, -50%);*/
    /* font-size: calc(var(--target-width)*0.01*3); */
    opacity: 0.4;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    animation: slidein 0.7s;
}

.tutorial-skipButton:hover {
    opacity: 1;
}

#exit {
    z-index: 2;
    display: none;
    background-image: linear-gradient(#FEC22E, #FE7235);
    border-radius: 0px 0.45em 0.45em 0px;
    position: absolute;
    width: 15%;
    height: 7%;
    top: 5%;
    left: 0;
    /*transform: translate(0, -50%);*/
    opacity: 0.4;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    animation: slideinleft 0.7s;
}

#exit:hover {
    opacity: 1;
}