* {
  font-family: "Garmania One";
}
body {
  margin: 0;
  background-image: url("../img/bg-01.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@font-face {
  font-family: "machineGunk";
  src: url("MachineGunk-nyqg.tff");
}

@font-face {
  font-family: "jivetalk";
  src: url("../font/jivetalk.tff");
}

#youwon {
  height: 600px;
  width: 500px;
  background-color: black;
  position: absolute;
  margin: 105px auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  text-align: center;
}
#win {
  margin: 100px auto;
  display: none;
}
#lose {
  margin: 100px auto;
  display: none;
}
#youwon button {
  padding: 10px;
  border-radius: 10px;
  color: white;
  width: 60%;
  background-color: grey;
  border: white;
  font-size: 20px;
  border: 2px solid white;
  margin: 10px;
  font-family: "Share Tech Mono", monospace;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

#youwon button:hover {
  background-color: white;
  cursor: pointer;
  color: grey;
}
#won {
  height: 100px;
  width: 100px;
}
#lose {
  height: 50%;
  width: 70%;
}
#youlose {
  height: 400px;
  text-align: center;
  background-color: honeydew;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container h1 {
  color: #fff;
  font-size: 36px;
  margin-bottom: 40px;
}
#up input[type="text"],
input[type="password"] {
  margin: 0px auto;
  display: block;
  width: 40%;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  background-color: white;
  border: none;
  border-bottom: 3px solid grey;
}
#up input[type="text"] {
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  padding-left: 45px;
}
#up input[type="password"] {
  background-image: url("../img/lock.svg");
  background-repeat: no-repeat;
  padding-left: 45px;
}

input[type="submit"] {
  background-color: grey;
  padding: 10px;
  color: white;
  border-radius: 10px;
  font-family: "Share Tech Mono", monospace;
  border: white;
  font-size: 30px;
}

a {
  color: white;
  font-family: "Share Tech Mono", monospace;
}

input[type="submit"]:hover {
  background-color: white;
  color: grey;
  cursor: pointer;
}

.button {
  background: #fff;
  padding: 15px 20px;
  color: white;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 50px;
  box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
  margin-top: 25px;
  text-decoration: none;
  transition: 0.4s;
}

.button:hover {
  background: #34495e;
  color: #fff;
}

.popup-content {
  width: 40%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 4px solid white;
  border-radius: 10px;
}

#up input[type="submit"] {
  margin: 0px auto;
  display: block;
  width: 50%;
  padding: 8px;
  border: 2px solid white;
  margin-top: 10px;
}
/* #main{
                height: 400px;
                width: 600px;
                position: absolute;
                margin :auto;
                top:0;
                right:0;
                left:0;
                bottom:0;
                background-color: aliceblue;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: url("./background.png");
                background-size: 600px 430px;
                background-repeat: no-repeat;
            } */
.breakout {
  display: none;
  border: 2px solid white;
}
.game_detail {
  float: left;
  width: 400px;
  height: 600px;
  border: white 3px solid;
  background-image: url("mp.PNG");
  background-size: 400px 600px;
  position: absolute;
}
/* .game_details {
  width: 30%;
  border: white 3px solid;
  background: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  box-shadow: 0px 0px 38px 12px lightblue;
} */
.details {
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
}

.detail {
  width: 500px;
  height: 600px;
  color: white;
  font-weight: bold;
  font-size: 35px;
}

/* timer */
#timePosition {
  margin: 0;
  padding: 0;
  width: 100%;
}
#timer {
  text-align: center;
  width: 100%;
  color: white;
  font-size: 30px;
}

/* button adjust */
.game_detail button {
  padding: 10px;
  border-radius: 10px;
  color: white;
  width: 50%;
  background-color: grey;
  border: white;
  font-size: 20px;
  border: 2px solid white;
  margin: 10px;
  font-family: "Share Tech Mono", monospace;
}
.game_detail button:hover {
  cursor: pointer;
  background-color: white;
  color: grey;
}
.game_details button {
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: grey;
  border: white;
  font-size: 20px;
  border: 2px solid white;
  margin: 10px;
  font-family: "Share Tech Mono", monospace;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}
.game_details button:hover {
  cursor: pointer;
  background-color: white;
  color: grey;
}

.game_about h1 {
  color: springgreen;
}
.game_about {
  color: rgb(248, 189, 112);
  font-size: 18px;
  text-align: center;
  padding: 5em 2em 2em 2em;
  display: none;
}
.how_to_play h1 {
  color: white;
}
.how_to_play {
  color: #000000;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  display: none;
}

.scoreboard {
  color: #000000;
  font-size: 18px;
  text-align: center;
  display: none;
}

/*Alert*/
.alert {
  height: 20%;
  width: 100%;
}

/* Ratate Banner */
#bannerPosition {
  margin-top: 25px;
  width: 100%;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_banner {
  width: 30%;
  height: 105px;
  background-color: #fff;
  overflow: hidden;
  position: absolute;
  border: 5px solid red;
}
.main_banner .imgban {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  transition: all ease-in-out 500ms;
  -webkit-transition: all ease-in-out 500ms;
  -moz-transition: all ease-in-out 500ms;
  -o-transition: all ease-in-out 500ms;
}

.main_banner #imgban3 {
  background-image: url("");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main_banner #imgban2 {
  background-image: url("");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main_banner #imgban1 {
  background-image: url("");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 1100px) {
  .popup-content {
    width: 90%;
  }
  #title {
    width: 100%;
  }
  .details {
    width: 95%;
  }
}

@media (max-aspect-ratio: 9/16) {
  .main_banner {
    bottom: 0%;
  }
  canvas {
    width: 90%;
    height: 50%;
  }
}
